@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
* {
	box-sizing: border-box;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 100vw;
	min-height: 100vh;
	background-color: #285943;
	font-family: 'Source Code Pro', monospace;
}
.calc {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 400px;
	height: 570px;
	background-color: #d7fff1;
	border-radius: 10px;
	border: 3px solid #77af9c;
	gap: 15px;
}

.display {
	width: 350px;
	height: 100px;
	background-color: #808080f1;
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: space-around;
	border: 2px solid #285943;
}
.buttons-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	width: 350px;
	height: 400px;
	cursor: pointer;
}
.btn {
	font-size: 25px;
	/* font-weight: 800; */
}
.btn:hover {
	background-color: #8cd790;
}
.btn,
.display {
	border-radius: 5px;
}
.delBtn,
.clearBtn {
	grid-column: span 2;
}

.currOutput {
	font-size: 40px;
	margin-right: 15px;
}
.prevOutput {
	font-size: 25px;
	margin-right: 15px;
	color: rgb(0, 0, 0, 0.7);
}
.delBtn {
	border: 2px solid #fca24e;
}
.clearBtn {
	border: 2px solid #ff7a7a;
}
.clearBtn:hover {
	background-color: #ff7a7a;
}
.delBtn:hover {
	background-color: #fca24e;
}

.numberBtn {
	border: 2px solid skyblue;
}
.operationBtn {
	border: 2px solid #9477af;
}
.numberBtn:hover {
	background-color: skyblue;
}
.operationBtn:hover {
	background-color: #9477af;
}
.decimal {
	border: 2px solid #4efc9c;
}
.decimal:hover {
	background-color: #4efc9c;
}
